@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

html ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
html ::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 4px;
}
html ::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}
html ::-webkit-scrollbar:hover {
  background: #555;
}

header {
  box-shadow: 0px 0px 4px 1px #3f444b;
  color: white;
  padding: 40px 0px;
  background-color: white;
}
header .conteudoHeader {
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .conteudoHeader img {
  height: 50px;
}
header .conteudoHeader a button {
  border: none;
  cursor: pointer;
  color: white;
  background-color: #03559c;
  font-weight: bolder;
  border-radius: 30px;
  padding: 15px 20px;
}
header .conteudoHeader a button:hover, header .conteudoHeader a button:focus {
  color: white;
  background-color: #0270ea;
}

main {
  width: 100%;
  background-color: #073c6a;
}
main .pag01 {
  padding-bottom: 50px;
  width: 90%;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
main .pag01 h1 {
  font-weight: 400;
  width: 100%;
  font-size: 2.2em;
  color: white;
  text-align: center;
  margin: 50px auto 20px auto;
}
main .pag01 img {
  width: 80%;
  margin: 0px auto 0px auto;
}
main .pag01 a button {
  margin-bottom: 40px;
  border: none;
  cursor: pointer;
  color: white;
  background-color: #03559c;
  font-weight: bolder;
  border-radius: 30px;
  padding: 15px;
}
main .pag01 a button:hover, main .pag01 a button:focus {
  color: white;
  background-color: #0270ea;
}
main .pag01 article {
  color: white;
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: space-between;
  align-items: center;
}
main .pag01 article img {
  border-radius: 50px;
  max-width: 550px;
  max-height: 450px;
  min-width: 0px;
  min-height: 0px;
}
main .pag01 article div {
  padding: 20px;
  margin: 10px auto 30px auto;
  text-align: justify;
  flex: 1 0 350px;
}
main .pag01 article div h2 {
  font-size: 2em;
}
main .pag01 article div li {
  text-indent: 2em;
  font-size: 1.2em;
  margin-top: 20px;
  list-style: none;
}
main .pag02 {
  color: #073c6a;
  background-color: #f0f0f0;
  width: 100%;
  margin: 30px auto 0px auto;
  padding: 30px;
}
main .pag02 h2 {
  width: 90%;
  margin: auto;
  font-size: 2em;
  font-weight: bolder;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}
main .pag03 {
  width: 100%;
  padding: 30px 0px;
  background-color: #073c6a;
  text-align: center;
}
main .pag03 h1 {
  margin-bottom: 30px;
  color: white;
}
main .pag03 div {
  cursor: grab;
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .pag03 div img {
  height: auto;
  margin: 0 auto 15px 20px;
  border-radius: 20px;
}
main .pag04 {
  padding-top: 30px;
  background-color: white;
  text-align: center;
  padding-bottom: 30px;
}
main .pag04 h2 {
  margin: 30px auto;
  width: 90%;
  font-size: 2em;
  color: #073c6a;
}
main .pag04 button {
  border: none;
  cursor: pointer;
  color: white;
  background-color: #03559c;
  font-weight: bolder;
  border-radius: 30px;
  padding: 15px;
  max-width: 300px;
  min-width: 200px;
}
main .pag04 button:hover, main .pag04 button:focus {
  color: white;
  background-color: #0270ea;
}

footer {
  padding: 15px 15px 3px 15px;
  background-color: rgba(127, 144, 159, 0.2666666667);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
footer .informacoes {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
footer .informacoes div {
  width: 30%;
}
footer .informacoes div img {
  width: 40px;
}
footer .informacoes .logo {
  width: 20%;
}
footer .informacoes .logo img {
  width: 80%;
}
footer .informacoes .redes_sociais {
  width: 20%;
}
footer .informacoes .redes_sociais a {
  color: #073c6a;
  text-decoration: none;
}
footer .informacoes .redes_sociais a i {
  font-size: 2.5em;
  margin: 10px 2px;
  border-radius: 100%;
  width: 30%;
}
footer .informacoes .redes_sociais a i:hover, footer .informacoes .redes_sociais a i:focus {
  cursor: pointer;
}
footer .informacoes .endereco {
  text-align: justify;
  width: 50%;
}
footer .informacoes .endereco h4 {
  margin-bottom: 10px;
}
footer .informacoes .endereco p {
  margin-bottom: 5px;
}
footer .informacoes .endereco p a {
  color: black;
  text-decoration: none;
}
footer .informacoes .endereco p a:hover {
  text-decoration: underline;
}
footer .fim {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
}
footer .fim p {
  font-weight: bold;
}

@media screen and (max-width: 650px) {
  h1 {
    font-size: 1.5em !important;
  }
  h2 {
    font-size: 1.2em !important;
  }
  header .conteudoHeader img {
    height: 30px;
  }
  .pag01 article img {
    width: 90%;
    margin: auto;
  }
  footer .informacoes {
    flex-flow: column;
  }
  footer .informacoes .logo, footer .informacoes .endereco, footer .informacoes .redes_sociais {
    text-align: center;
    width: 100%;
    padding-bottom: 30px;
  }
  footer .fim p {
    font-size: 0.8em;
  }
}/*# sourceMappingURL=style.css.map */